<%- contentFor('panel-header') %>
<div class="active grid-x-no align-middle">
  <i class="fal fa-mobile"></i>
  <span class="name">اپلیکشن</span>
</div>
<%- contentFor('body') %>
<div class="controller grid-x">
  <div class="mark grid-x-no align-middle">
    <i class="fal fa-mobile"></i>
    <span class="name">اپلیکشن</span>
  </div>
  <div class="btn-wrap grid-x-no align-middle">
    <a href="/admin/applications/add" class="btn sign btn-primary grid-x-no align-middle">
      <span>اضافه کردن</span>
      <i class="far fa-plus-circle"></i>
    </a>
  </div>
</div>
<div class="table-wrap w100 grid align-center">
  <table>
    <thead>
      <tr>
        <th></th>
        <th><span>نام اپلیکشن</span></th>
        <th><span>تاریخ ثبت</span></th>
        <th><span>ایجاد شده توسطه</span></th>
        <th><span>لوگو</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if(applications.docs.length > 0) {
        let i = 0;
          applications.docs.forEach(application => { i+=1 %>
          <tr>
            <td class="col1"><%= i %></td>
            <td class="col3"><%= application.name %></td>
            <td class="col3"><%= date(application.createdAt).format('jYYYY/jM/jD') %></td>
            <td class="col3"><%= application.admin.name %> <%= application.admin.family %></td>
            <td class="col3 image logo">
              <img src="<%= application.logo.destination %>">
            </td>
            <td class="col3">
              <div class="grid-x align-center">
                <a href="/admin/applications/<%= application.slug %>" class="button" title="View"><i class="fal fa-eye"></i></a>
                <button title="Delete" class="deleteApplication" value="<%= application._id %>"><i class="fal fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>
          <% }) 
        } %>
    </tbody>
  </table>
</div>
<%- include(viewPath('layout/pagination') , { pagination : applications }) -%>
<script>
  const rowDelete = (objId) => {
    let row = $(`tr td button[value=${objId}]`).parents('tr');
    $(row).remove();
  }
</script>




