<section class="footer grid grid-y align-center">
  <div class="footer-top wrap100 grid align-center-middle">
    <div class="container grid-y">
      <div class="logo wrap100 grid align-center">
        <% if(typeof siteInfo.logo !== 'undefined' ) { %>
        <img src="<%= siteInfo.logo.destination %>" alt="<%= siteInfo.nameEn %>">
        <% } %>  
      </div>
      <a class="brand wrap100" href="/">
        <h4><%= siteInfo.nameEn %></h4>
      </a>
      <div class="social grid align-center wrap100">
        <div class="grid-x-no align-middle">
          <% if(siteInfo.telegram !== '') { %>
            <a href="<%= siteInfo.telegram %>" title="Telegram" target="_blank" rel="noopener">
              <div class="box grid align-center-middle">
                <i class="fab fa-telegram-plane"></i>
              </div>
            </a>
          <% } %>  
          <% if(siteInfo.whatsapp !== '') { %>
            <a href="<%= siteInfo.whatsapp %>" title="WhatsApp" target="_blank" rel="noopener">
              <div class="box grid align-center-middle">
                <i class="fab fa-whatsapp"></i>
              </div>
            </a>
          <% } %>  
          <% if(siteInfo.instagram !== '') { %>
            <a href="<%= siteInfo.instagram %>" title="Instagram" target="_blank" rel="noopener">
              <div class="box grid align-center-middle">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
          <% } %> 
          <% if(siteInfo.linkedin !== '') { %>
            <a href="<%= siteInfo.linkedin %>" title="Linkedin" target="_blank" rel="noopener">
              <div class="box grid align-center-middle">
                <i class="fab fa-linkedin"></i>
              </div>
            </a>
          <% } %> 
          <% if(siteInfo.facebook !== '') { %>
            <a href="<%= siteInfo.facebook %>" title="Facebook" target="_blank" rel="noopener">
              <div class="box grid align-center-middle">
                <i class="fab fa-facebook"></i>
              </div>
            </a>
          <% } %>
        </div>
      </div>
      <div class="wrap100 info grid align-center">
        <p>شرکت دیاتا این افتخار را دارد که بتواند با داشتن سال ها تجربه کاری و همچنین 
        جدید ترین تکنولوژی برنامه نویسی روز دنیا ، بهترین پاسخ را به نیاز شما در جهان آی تی بدهد
      </p>
      </div>
    </div>
  </div>
  <div class="wrap footer-2 grid align-center">
    <div class="container grid-x align-justify">
      <p>طراحی و پیاده سازی با <i class="fa fa-heart"></i> توسط <a>دیاتا</a></p>
      <p class="version EN">Version:<%= siteInfo.version %></p>
      <p>تمامی حقوق این وب سایت متعلق به شرکت است</p>
    </div>
  </div>
</section>