<%- include(viewPath('home/layout/header')) %>
<section class="seo-page w100 grid-y">
  <div class="header-slider w100">
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2>Application</h2>
      </div>
    </div>
  </div>
  <div class="seo-desc wrapper grid align-center">
  <div class="container">
    <div class="wrap w100 grid-x">
      <div class="image">
        <img src="/img/seo-assesment-2-2.png" alt="SEO">
      </div>
      <div class="decription pr-5 grid-y">
        <h4 class="mb-1">سئو چیست ؟</h4>
        <P>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
          روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
          ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
          با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در
          این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
          حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </P>
      </div>
    </div>
  </div>
</div>
<section class="wrapper products-tab grid align-center-middle ">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section grid align-center-middle">
            <h3>نمونه کار های شرکت ما</h3>
            </div>
            <br>
            <div class="product-wrap grid-x align-around">
                <!-- <div class="owl-carousel owl-theme"> -->
                <div class="grid-x">
                    <% applications.forEach(application => { %>
                        <div class="item card">
                            <img src="<%= application.previewImage.destination %>">
                            <div class="info grid-y">
                                <h3><%= application.name %></h3>
                                <div class="grid-x-no">
                                    <a href="<%= application.link %>" target="_blank">لینک وبسایت</a>
                                    <a href="/applications/<%= application.slug %>">جزییات</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include(viewPath('home/layout/footer')) %>