<%- include(viewPath('home/layout/header')) %>
<section class="seo-page w100 grid-y">
  <% if(typeof categories.wallpaper !== 'undefined' ) { %>
  <div class="header-slider w100" style="background-image: url('<%= categories.wallpaper.destination %>')">
  <% } else { %>
    <div class="header-slider w100">  
  <% } %>   
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2><%= categories.desc %></h2>
      </div>
    </div>
  </div>
  <section class="wrapper grid grid-y align-center-middle">
    <div class="header-section mb-2">
      <h3>وبلاگ ها</h3>
    </div>
    <div class="container grid-x align-center-middle">

      <% if(categories.blogs.length > 0) { %>
        <div class="owl-carousel owl-theme">
          <% categories.blogs.forEach(blog => { %>
            <div class="blog-card grid-y">
              <a href="/blog/<%= categories.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.previewImage.destination %>')"></a>
              <div class="body grid-y">
                <div class="date grid align-left mb-1">
                  <span>
                    <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                </div>
                <h4 class="mb-1">
                  <%= blog.title %>
                </h4>
                <p class="mb-2">
                  <%= blog.summery.slice(1,130) %> ...</p>
                <div class="link grid align-left">
                  <a href="/blog/<%= categories.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
        <div class="carousel grid-x">
          <% categories.blogs.forEach(blog => { %>
            <div class="blog-card grid-y">
              <a href="/blog/<%= categories.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.previewImage.destination %>')"></a>
              <div class="body grid-y">
                <div class="date grid align-left mb-1">
                  <span>
                    <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                </div>
                <h4 class="mb-1">
                  <%= blog.title %>
                </h4>
                <p class="mb-2">
                  <%= blog.summery.slice(1,130) %> ...</p>
                <div class="link grid align-left">
                  <a href="/blog/<%= categories.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <h4>بلاگی وجود ندارد</h4>
      <% } %>
    </div>
  </section>

  <%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>