
<%- include(viewPath('home/layout/header')) %>

<section class="seo-page w100 grid-y">
  <div class="header-slider w100" style="background-image: url('./../img/blog.jpg')">
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
<section class="wrapper grid grid-y align-center-middle">
    <div class="header-section mb-2">
        <h3>دسته بندی وبلاگ</h3>
    </div>
    <div class="container grid-x align-center-middle">

        <% if(categories !== 'undefined') { %>
            <div class="owl-carousel owl-theme">
                <% categories.forEach(category => { %>
                    <div class="item card-portlet">
                        <a href="/blog/<%= category.slug %>" class="wrap grid align-bottom" style="background-image: url('<%= category.imageUrl.destination %>')">
                            <div class="tag">   
                                <span><%= category.name %></span>
                            </div>
                            <div class="body grid-y">
                                <span><%= date(category.createdAt).format('jD jMMMM jYYYY') %></span>
                                <h2><%= category.desc %></h2>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
            <div class="carousel grid-x">
                <% categories.forEach(category => { %>
                    <div class="item card-portlet">
                        <a href="/blog/<%= category.slug %>" class="wrap grid align-bottom" style="background-image: url('<%= category.imageUrl.destination %>')">
                            <div class="tag">   
                                <span><%= category.name %></span>
                            </div>
                            <div class="body grid-y">
                                <span><%= date(category.createdAt).format('jD jMMMM jYYYY') %></span>
                                <h2><%= category.desc %></h2>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        <% } else { %> 
            <h6>خبرنامه ای وجود ندارد</h6>
        <%  } %>    
    </div>
</section>

<%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>

