<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title || Artakhe %></title>
  <%- include(viewPath('layout/favicon')) %>
  <link rel="stylesheet" href="/dist/<%= manifest.admin[0] %>">
  <%- style %>
</head>

<body>
  <main>
    <div id="preloader">
      <div class="wrap grid align-center-middle">
        <div id="preloader-inner"></div>
      </div>
    </div>
    <app-layout class="admin-panel">
      <div class="wrap">
        <%- include(viewPath('admin/layout/sidebar')) -%>
        <div class="main-panel ps grid align-right">
         <div class="panel-wrap grid align-center">
          <div class="container grid-y">
            <div class="header grid align-left align-middle">
              <div class="panel-info grid-x-no">
                <i class="fas fa-bars grid align-center-middle" id="siderbarIcon"></i>
                <div class="route-address">
                  <div class="address grid-x-no align-middle">
                    <%- defineContent('panel-header')%>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-space"></div>
            <content>
              <%- defineContent('body')%>
            </content>
          </div>
         </div>
        </div>
      </div>
    </app-layout>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="//cdn.ckeditor.com/4.11.1/full/ckeditor.js"></script>
  <script src="/dist/<%= manifest.admin[1] %>"></script>
  <%- script %>
  <script src="/plugin/admin/activerow.js"></script>
  <script>activeRow('<%= activeRow %>')</script>
</body>
</html>