<%- contentFor('panel-header') %>
<a href="/admin/messages" class="active grid-x-no align-middle">
  <i class="fas fa-envelope"></i>
  <span class="name">پیام های دریافتی</span>
</a>
<i class="arrow far fa-angle-left"></i>
<span><%= message.subject %></span>
<%- contentFor('body') %>
<link rel="stylesheet" href="/plugin/Table-Highlight/Table-Highlight.css">
<div class="message-page grid align-center">
  <div class="container grid align-center">
     <table class="grid-x-no">
      <thead class="grid-y">
        <th><span>نام فرستنده</span></th>
        <th><span>ایمیل</span></th>
        <th><span>زمان</span></th>
        <th><span>ساعت</span></th>
        <th><span>موضوع</span></th>
        <th><span>متن پیام</span></th>
      </thead>
      <tbody class="grid-y">
        <td><span><%= message.fullName %></span></td>
        <td><span><%= message.email %></span></td>
        <td><span class="digit"><%= message.createdDate %></span></td>
        <td><span class="digit"><%= message.createdTime %></span></td>
        <td><span><%= message.subject %></span></td>
        <td><span><%= message.description %></span></td>
      </tbody>
    </table>
  </div>
 
</div>




