<%- contentFor('panel-header') %>
<a href="/admin/messages" class="active grid-x-no align-middle">
  <i class="fas fa-envelope"></i>
  <span class="name">پیام های دریافتی</span>
</a>
<i class="arrow far fa-angle-left"></i>
<span><%= message.subject %></span>
<%- contentFor('body') %>
<div class="table-wrap w100 grid align-center">
  <table>
    <tr>
      <th class="col3">نام</th>
      <td><%= message.fullName %></td>
    </tr>
    <tr>
      <th class="col3">ایمیل</th>
      <td>
        <%= message.email %>
      </td>
    </tr>
    <tr>
      <th class="col3">موضوع</th>
      <td>
        <%= message.subject %>
      </td>
    </tr>
    <tr>
      <th class="col3">متن پیام</th>
      <td>
        <%= message.description %>
      </td>
    </tr>
    <tr>
      <th class="col3">تاریخ ارسال</th>
      <td>
        <%= date(message.createdAt).format('jYYYY/jM/jD') %>
      </td>
    </tr>
    <tr>
      <th class="col3">زمان ارسال</th>
      <td>
        <%= date(message.createdAt).format(' HH:mm:ss') %>
      </td>
    </tr>
  </table>
</div>




