<%- contentFor('panel-header') %>
<div class="grid-x-no align-middle">
  <i class="fal fa-newspaper"></i>
  <span class="name">وبلاگ</span>
</div>
<i class="arrow far fa-angle-left"></i>
<a href="/admin/blogs/categories" class="active grid-x-no align-middle">
  <i class="fal fa-archive"></i>
  <span class="name">دسته بندی</span>
</a>
<%- contentFor('body') %>
<div class="blogs-categories grid align-center">
  <div class="container grid-y">

    <div class="controller grid-x">
      <div class="mark grid-x-no align-middle">
        <i class="fal fa-archive"></i>
        <span class="name">دسته بندی وبلاگ</span>
      </div>
      <div class="btn-wrap grid-x-no align-middle">
        <a href="/admin/blogs/categories/add" class="btn sign btn-primary grid-x-no align-middle">
          <span>اضافه کردن</span>
          <i class="far fa-plus-circle"></i>
        </a>
        <a class="btn sign btn-danger grid-x-no align-middle">
          <span>حذف کردن</span>
          <i class="far fa-minus-circle"></i>
        </a>
      </div>
    </div>
    <div class="content grid-x">
      <% if(categories !== 'undefined' && categories.docs.length !== 0) { %>
       <% categories.docs.forEach(category => { %>
        <a href="/admin/blogs/categories/<%= category.slug %>" class="grid align-left">
          <div class="folder grid-x align-middle">
            <i class="fas fa-folder"></i>
            <span><%= category.name %></span>
          </div>
        </a>
       <% }) %> 
      <% } else { %>
        <p>دسته بندی وجود ندارد</p>
      <% } %>  
    </div>
    <%- include(viewPath('layout/pagination') , { pagination : categories }) -%>
    
  </div>
</div>



