<%- include(viewPath('home/layout/header')) %>
<section class="seo-page w100 grid-y">
  <% if(typeof aboutPage.headerImageUrl !== 'undefined' ) { %>
  <div class="header-slider w100" style="background-image: url('<%= aboutPage.headerImageUrl.destination %>')">
  <% } else { %>
  <div class="header-slider w100">
  <% }%>  
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2><%= aboutPage.headerTitle %></h2>
      </div>
    </div>
  </div>
  <div class="seo-desc wrapper grid align-center">
    <div class="container">
      <div class="wrap w100 grid-x">
        <%- aboutPage.descDesc %>
      </div>
    </div>
  </div>
  <div class="about-seo w100 grid align-center-middle wrapper">
    <div class="container">
      <div class="grid-x align-around">
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-6.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item1 %></h4>
            <p><%= aboutPage.Descitem1 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-1.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item2 %></h4>
            <p><%= aboutPage.Descitem2 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-2.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item3 %></h4>
            <p><%= aboutPage.Descitem3 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-3.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item4 %></h4>
            <p><%= aboutPage.Descitem4 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-4.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item5 %></h4>
            <p><%= aboutPage.Descitem5 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="/img/Seo/hp2-service-icon-5.png" alt="">
          </div>
          <div class="content">
            <h4><%= aboutPage.item6 %></h4>
            <p><%= aboutPage.Descitem6 %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(typeof aboutPage.parallaxImageUrl !== 'undefined' ) { %>
  <section class="wrapper business parallax grid-y align-center-middle" style="background-image: url('<%= aboutPage.parallaxImageUrl.destination %>')">
  <% } else { %>
  <section class="wrapper business parallax grid-y align-center-middle">
  <% } %>  
    <div id="wrapper-box" class="container grid-x align-center-middle">
        <% if(webUsers !== 'undefined') { %>
          <% webUsers.forEach(user => { %>
            <div id="card">
              <div id="front">
                <div id="top-pic" style="background-image: url('<%= user.backgroundUrl.destination %>')"></div>
                <div id="avatar" class="grid align-center-middle">
                  <img src="<%= user.imageUrl.destination %>" alt="<%= user.name %>">
                </div>
                <div id="info-box">
                  <div class="info">
                    <h3 class="mb-1"><%= user.name %></h3>
                    <small><%= user.job %></small>
                  </div>
                </div>
                <div id="social-bar">
                  <% if(user.telegram !== '') { %><a href="<%= user.telegram %>" target="_blank"><i class="fab fa-telegram"></i></a><% } %>
                  <% if(user.whatsapp !== '') { %><a href="<%= user.whatsapp %>" target="_blank"><i class="fab fa-whatsapp"></i></i></a><% } %>
                  <% if(user.website !== '') { %><a href="<%= user.website %>" target="_blank"><i class="fab fa-chrome"></i></a><% } %>
                  <% if(user.email !== '') { %><a href="<%= user.email %>" target="_blank"><i class="far fa-envelope"></i></a><% } %>
                  <% if(user.instagram !== '') { %><a href="<%= user.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a><% } %>
                  <% if(user.facebook !== '') { %><a href="<%= user.facebook %>" target="_blank"><i class="fab fa-facebook-square"></i></a><% } %>
                </div>
              </div>
            </div>
          <% }) %>  
        <% } %>  
          
    </div>
  </section>
  <%- include(viewPath('home/layout/footer')) %>