<%- include(viewPath('home/layout/header'))  %>
<section class="contact-page grid-y">
  <% if(typeof contactPage.imageUrl !== 'undefined' ) { %>
  <header style="background-image : url('<%= contactPage.imageUrl.destination %>');">
  <% } else { %>
  <header>  
  <% } %>  
    <div class="overlay"></div>
  </header>
  <div class="contact grid align-center">
    <div class="contact-wrap grid-y-no">
      <div class="call-us w100">
        <div class="wrap100 header grid align-middle">
          <h6>نظرات خود را با ما در میان بگذارید</h6>
        </div>
        <content class="wrap100 grid-y">
          <form class="contactPage">
            <div class="row grid-x align-middle align-justify">
              <input class="w100" type="text" name="fullName" placeholder="نام">
              <input class="w100" type="text" name="email" placeholder="ایمیل">
            </div>
            <div class="row grid-x align-middle align-justify">
              <input type="text" name="subject" placeholder="موضوع" maxlength="30">
            </div>
            <div class="row grid-x align-middle align-justify">
              <textarea name="description" cols="30" rows="10" placeholder="توضیحات"></textarea>
            </div>
            <div class="row grid-x align-middle align-justify">
              <button class="btn btn-primary grid align-center-middle" type="submit">
                <input type="hidden" name="recaptcha" value="">
                <span>ارسال</span>
              </button>
            </div>
          </form>
        </content>
      </div>
      <div class="info-us grid-y w100">
        <div class="wrap100 header grid align-middle">
          <h6>راه های تماس با ما</h6>
        </div>
        <content class="wrap100 grid-y">
          <div class="row grid-x-no align-middle">
            <i class="fas fa-map-marker-alt"></i>
            <span><%= contactPage.address %></span>
          </div>
          <div class="row grid-x-no align-middle EN">
            <i class="fas fa-envelope"></i>
            <span><%= contactPage.email %></span>
          </div>
          <div class="row grid-x-no align-middle EN">
            <i class="fas fa-phone-volume"></i>
            <span><%= contactPage.telephone %></span>
          </div>
        </content>
      </div>
    </div>
  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js?render=<%= SITEKEY %>"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('<%= SITEKEY %>', {action: 'login'})
          .then(function(token) {
            $('.contactPage input[name = "recaptcha"]').val(token);
          });
    });
</script>
<%- include(viewPath('home/layout/footer')) %>


