<%- contentFor('title') %>
Artakhe
<%- contentFor('style') %>
<link rel="stylesheet" href="/plugin/home/homeSlider/css/homeSlider.css">
<link rel="stylesheet" href="/plugin/home/particleEffectButton/particleEffectButton.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/plugin/home/tabnav/tabnav.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.theme.default.min.css">
<%- contentFor('body') %>
<section class="header-site grid align-center-middle">
    <div class="container grid-x-no align-justify align-middle">
        <div class="logo">
            <a href="/">
            <span>A</span>rtakhe</a>
        </div>
        <div class="grid__item theme-1">
            <button class="action"></button>
            <button class="particles-button grid align-center-middle">
                <span>ورود</span>
            </button>
        </div>
        <div class="mobile-icon" id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>
<section class="mobile-nav">
    <ul>
        <li><a href="/" class="active">خانه</a></li>
        <li><a href="#">وب سایت</a></li>
        <li><a href="#">اپلیکیشن</a></li>
        <li><a href="#">سئو (بهینه سازی)</a></li>
        <li><a href="#">وبلاگ</a></li>
        <li><a href="#">درباره ما</a></li>
        <li><a href="#">تماس با ما</a></li>
    </ul>
    <div class="wrapper btn-wrap grid align-left">
        <div class="grid-x-no">
            <a href="#" class="grid align-center-middle">
                <span>ورود</span>
            </a>
            <a href="#" class="grid align-center-middle">
                <span>
                    ثبت نام
                </span>
            </a>
        </div>
    </div>
</section>
<section class="homeSlider grid align-center">
    <div class="container">
        <div class="wrap down grid align-middle">
            <div class="wrap2 grid-x-no align-justify align-middle">
                <div class="navbar grid-x-no align-middle">
                    <a href="/" class="active">خانه</a>
                    <a href="#">وب سایت</a>
                    <a href="#">اپلیکیشن</a>
                    <a href="#">سئو (بهینه سازی)</a>
                    <a href="#">وبلاگ</a>
                    <a href="#">درباره ما</a>
                    <a href="#">تماس با ما</a>
                </div>
                <div class="social grid-x-no align-middle">
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-telegram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper aboutUs grid align-center">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="wrap grid align-center align-middle grid-y">
            <div class="img-circle">
                <img src="/img/logo.png">
            </div>
            <h3>اگر میخواهید یک وب سایت معمولی داشته باشید، ما اصلاً گزینه خوبی نیستیم!</h3>
            <p class="align-center">وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین
                سلیقه آنان طراحی و پیاده سازی کنیم. ما تمامی ساعات حضور در دفتر کوچکمان را با عشق و علاقه سپری میکنیم تا
                مشتریان ما در استفاده از وب سایت خود تجربه بهتری داشته باشند.</p>
            <img src="/img/home-1.png">
        </div>
    </div>
</section>
<section class="wrapper ability grid-y align-center-middle">
    <div class="container">
        <div class="header grid align-center-middle">
           <div class="grid-x-no align-middle">
                <i class="fas fa-shield-alt"></i>
                <h4>خدمات</h4>
           </div>
        </div>
        <div class="ability-wrap grid-x align-around">
        <div class="item grid-x-no">
            <i class="fal fa-sliders-h"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-mobile"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fab fa-react"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fab fa-node-js"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-rocket"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-recycle"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        </div>
    </div>
    
</section>
<section class="wrapper parallax para1">
    <div class="overlay grid-y align-center-middle">
        <h4>به وب سایت ما خوش آمدید</h4>
        <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی و پیاده
            سازی کنیم</p>
    </div>
</section>
<section class="wrapper tabBar grid-y align-center-middle ">
    <div class="container grid-y align-center-middle header">
        <h3><i class="fal fab-code"></i>نمونه کارها</h3>
    </div>
    <br>
    <div class="tab-nav grid align-center-middle ">
        <div class="wrap">
            <ul role="tablist" class="tabnav-items grid-x-no">
                <li class="tabnav-item grid align-center-middle">
                    <a href="#" class="tabnav-link active">وب سایت</a>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <a href="#" class="tabnav-link">اپلیکشن</a>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <a href="#" class="tabnav-link">بهینه سازی</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content container">
        <div class="tab-content-wrap active">
            <div class="product-wrap grid-x align-around">
                <div class="owl-carousel owl-theme">
                    <div class="item card"><img
                        src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
                        <div class="info">
                        <h3>نام پروژه</h3>
                        <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                        <button>لینک وبسایت</button>
                        <button>جزییات</button>
                        </div>
                    </div>
                    <div class="item card"><img
                        src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
                        <div class="info">
                        <h3>نام پروژه</h3>
                        <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                        <button>لینک وبسایت</button>
                        <button>جزییات</button>
                        </div>
                    </div>
                    <div class="item card"><img
                        src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
                        <div class="info">
                        <h3>نام پروژه</h3>
                        <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                        <button>لینک وبسایت</button>
                        <button>جزییات</button>
                        </div>
                    </div>
                    <div class="item card"><img
                        src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
                        <div class="info">
                        <h3>نام پروژه</h3>
                        <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                        <button>لینک وبسایت</button>
                        <button>جزییات</button>
                        </div>
                    </div>
                    <div class="item card"><img
                        src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
                        <div class="info">
                        <h3>نام پروژه</h3>
                        <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                        <button>لینک وبسایت</button>
                        <button>جزییات</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="tab-content-wrap">اپلیکشن ها</h4>
        <h4 class="tab-content-wrap">بهینه سازی</h4>
    </div>
</section>
<section class="wrapper news align-center-middle grid-y">
    <div class="container grid-y align-center-middle header">
        <h3><i class="fal fa-newspaper"></i>خبرنامه</h3>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="item blog-card spring-fever">
            <div class="title-content">
                <h3>تیتر خبر</h3>
                <hr/>
                <div class="intro">خلاصه اولیه خبر</div>
            </div>
            <div class="card-info">
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><i class="fal fa-calendar"></i>03.12.2015</li>
                    <li><i class="fal fa-comment"></i>12</li>
                </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
        <div class="item blog-card spring-fever">
            <div class="title-content">
                <h3>تیتر خبر</h3>
                <hr/>
                <div class="intro">خلاصه اولیه خبر</div>
            </div>
            <div class="card-info">
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><i class="fal fa-calendar"></i>03.12.2015</li>
                    <li><i class="fal fa-comment"></i>12</li>
                </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
        <div class="item blog-card spring-fever">
            <div class="title-content">
                <h3>تیتر خبر</h3>
                <hr/>
                <div class="intro">خلاصه اولیه خبر</div>
            </div>
            <div class="card-info">
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><i class="fal fa-calendar"></i>03.12.2015</li>
                    <li><i class="fal fa-comment"></i>12</li>
                </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
        <div class="item blog-card spring-fever">
            <div class="title-content">
                <h3>تیتر خبر</h3>
                <hr/>
                <div class="intro">خلاصه اولیه خبر</div>
            </div>
            <div class="card-info">
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
                توضیحات کوتاه خبر
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><i class="fal fa-calendar"></i>03.12.2015</li>
                    <li><i class="fal fa-comment"></i>12</li>
                </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
    </div>
    <div class="container grid-y align-center-middle view-all-news">
        <a>مشاهده تمامی اخبار</a>
    </div>
</section>
<section class="wrapper grid-y align-center-middle business parallax">
    <div id="wrapper-box" class="container grid-x align-center-middle">
        <div id="card">
            <div id="front">
                <div id="arrow"><i class="fa fa-arrow-left"></i></div>
                <div id="top-pic"></div>
                <div id="avatar"></div>
                <div id="info-box">
                    <div class="info">
                        <h3>مسعود خانی</h3>
                        <h4>مدیرعامل</h4>
                        <small>طراح و برنامه نویس سایت و موبایل</small>
                    </div>
                </div>
                <div id="social-bar"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github"> </i></a>
                    <a href="#" target="_blank"><i class="fab fa-codepen"> </i></a>
                    <a class="more-info" href="javascript:void"><i class="fa fa-user"></i></a></div>
            </div>
        </div>
        <div id="card">
            <div id="front">
                <div id="arrow"><i class="fa fa-arrow-left"></i></div>
                <div id="top-pic"></div>
                <div id="avatar"></div>
                <div id="info-box">
                    <div class="info">
                        <h3>مسعود خانی</h3>
                        <h4>مدیرعامل</h4>
                        <small>طراح و برنامه نویس سایت و موبایل</small>
                    </div>
                </div>
                <div id="social-bar"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github"> </i></a>
                    <a href="#" target="_blank"><i class="fab fa-codepen"> </i></a>
                    <a class="more-info" href="javascript:void"><i class="fa fa-user"></i></a></div>
            </div>
        </div>
        <div id="card">
            <div id="front">
                <div id="arrow"><i class="fa fa-arrow-left"></i></div>
                <div id="top-pic"></div>
                <div id="avatar"></div>
                <div id="info-box">
                    <div class="info">
                        <h3>مسعود خانی</h3>
                        <h4>مدیرعامل</h4>
                        <small>طراح و برنامه نویس سایت و موبایل</small>
                    </div>
                </div>
                <div id="social-bar"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github"> </i></a>
                    <a href="#" target="_blank"><i class="fab fa-codepen"> </i></a>
                    <a class="more-info" href="javascript:void"><i class="fa fa-user"></i></a></div>
            </div>
        </div>
    </div>
</section>
<%- contentFor('footer') %>
<section class="wrapper footer grid grid-y-no align-center-middle">
    <div class="container" data-aos="fade-out" data-aos-duration="2000" data-aos-once="false">
        <div class="grid grid-y-no align-center align-middle">
            <p style="padding:30px">آینده اینترنتی خود را به ما بسپارید</p>
            <ul class="grid grid-x-no align-center footer-social">
                <li>
                    <a>
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
            </ul>
            <br>
            <ul class="grid grid-x-no align-center footer-linked">
                <li>
                    <a> صفحه نخست </a>
                </li>
                <li> /</li>
                <li>
                    <a> وب سایت </a>
                </li>
                <li> /</li>
                <li>
                    <a> اپلیکیشن </a>
                </li>
                <li> /</li>
                <li>
                    <a>سئو (بهینه سازی)</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="wrapper footer-2 grid-x-no align-justify align-bottom" style="bottom:-20px">
        <p>طراحی و پیاده سازی با <i class="fa fa-heart"></i> توسط <a>ارتاخه</a></p>
        <p>تمامی حقوق این وب سایت متعلق به شرکت است</p>
    </section>
</section>
<%- contentFor('script') %>
<script src="/plugin/home/particleEffectButton/anime.min.js"></script>
<script src="/plugin/home/particleEffectButton/particles.js"></script>
<script src="/plugin/home/particleEffectButton/demo.js"></script>
<script src="/plugin/home/tabnav/tabnav.js"></script>
<script src="/plugin/home/owlcarousel/owl.carousel.min.js"></script>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>

