<link rel="stylesheet" href="/plugin/home/homeSlider/css/homeSlider.css">
<link rel="stylesheet" href="/css/aos.css">
<%- include(viewPath('home/layout/header'))  %>
<section class="homeSlider grid align-center-middle" style="background-image : url('<%= homeSlider.homeSliderImageUrl.destination %>')">
    <div class="grid align-center-middle">
    <div class="grid-y align-center-middle item-1">
        <i class="<%= homeSlider.homeSlidericonItem1 %>"></i>
        <h3><%= homeSlider.homeSlideritem1 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-2">
        <i class="<%= homeSlider.homeSlidericonItem2 %>"></i>
        <h3><%= homeSlider.homeSlideritem2 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-3">
        <i class="<%= homeSlider.homeSlidericonItem3 %>"></i>
        <h3><%= homeSlider.homeSlideritem3 %></h3><br>
    </div>
  </div>
</section>
<section class="wrapper aboutUs grid align-center">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="wrap grid align-center align-middle grid-y">
            <img class="logo" src="/img/artakhe-logo.png">
            <h3><%= aboutUs.aboutUsheader %></h3>
            <p class="align-center"><%= aboutUs.aboutUsheaderDesc %></p>
            <img src="<%= aboutUs.aboutUsImageUrl.destination %>">
        </div>
    </div>
</section>
<section class="wrapper ability grid-y align-center-middle">
    <div class="container" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
        <div class="ability-wrap grid-x align-around">
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/LastTechno.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem1 %></h4>
                <p><%= ability.abilityDescitem1 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Responsivi.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem2 %></h4>
                <p><%= ability.abilityDescitem2 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/idea.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem3 %></h4>
                <p><%= ability.abilityDescitem3 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Seo.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem4 %></h4>
                <p><%= ability.abilityDescitem4 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Design.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem5 %></h4>
                <p><%= ability.abilityDescitem5 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Fast.png" alt="">
            </div>
            <div class="content">
                <h4><%= ability.abilityitem6 %></h4>
                <p><%= ability.abilityDescitem6 %></p>
            </div>
        </div>
    </div>
    
</section>
<section class="parallax para1 style="background-image:url('<%=parallax.parallaxImageUrl.destination %>')">
    <div class="overlay grid-y align-center-middle" >
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= parallax.headerParallax %></h4>
        <p data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= parallax.descParallax %></p>
    </div>
</section>
<section class="wrapper products-tab grid align-center-middle ">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section grid align-center-middle">
            <h3>نمونه کار های شرکت ما</h3>
        </div>
        <div class="tab-nav grid align-center-middle ">
            <ul role="tablist" class="tabnav-items grid-x-no">
                <li class="tabnav-item active grid align-center-middle">
                    <span href="#" class="tabnav-link active">وب سایت</span>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <span class="tabnav-link">اپلیکشن</soan>
                </li>
            </ul>
        </div>
        <div class="tab-content container">
            <div class="tab-content-wrap active">
                <div class="product-wrap grid-x align-around">
                    <div class="owl-carousel owl-theme">
                        <% websites.forEach(website => { %>
                        <div class="item card" onclick="">
                            <img src="<%= website.previewImage.destination %>">
                            <div class="info grid-y">
                                <h3 class="EN mb-1">
                                    <%= website.name %>
                                </h3>
                                <div class="grid-x-no">
                                    <a href="http://<%= website.link %>" target="_blank">لینک وبسایت</a>
                                    <a href="/websites/<%= website.slug %>">جزییات</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <div class="carousel grid-x">
                        <% websites.forEach(website => { %>
                        <div class="item card" onclick="">
                            <img src="<%= website.previewImage.destination %>">
                            <div class="info grid-y">
                                <h3 class="EN mb-1">
                                    <%= website.name %>
                                </h3>
                                <div class="grid-x-no">
                                    <a href="http://<%= website.link %>" target="_blank">لینک وبسایت</a>
                                    <a href="/websites/<%= website.slug %>">جزییات</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="tab-content-wrap">
                <div class="product-wrap grid-x align-around">
                    <div class="owl-carousel owl-theme">
                        <% applications.forEach(app => { %>
                            <div class="item card" onclick="">
                                <img src="<%= app.previewImage.destination %>">
                                <div class="info grid-y">
                                    <h3 class="EN mb-1">
                                        <%= app.name %>
                                    </h3>
                                    <div class="grid-x-no">
                                        <a href="http://<%= app.link %>" target="_blank">لینک وبسایت</a>
                                        <a href="/applications/<%= app.slug %>">جزییات</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="carousel grid-x">
                        <% applications.forEach(app => { %>
                            <div class="item card" onclick="">
                                <img src="<%= app.previewImage.destination %>">
                                <div class="info grid-y">
                                    <h3 class="EN mb-1">
                                        <%= app.name %>
                                    </h3>
                                    <div class="grid-x-no">
                                        <a href="http://<%= app.link %>" target="_blank">لینک وبسایت</a>
                                        <a href="/applications/<%= app.slug %>">جزییات</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper news align-center-middle grid-y parallax">
    <div id="particles-js">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1414" height="976">
        </canvas>
    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section mb-2">
            <h3>خبرنامه شرکت ما</h3>
        </div>
        <div class="grid align-around">
            <% if(blogs !== 'undefined') { %>
                <div class="owl-carousel owl-theme">
                <% blogs.forEach(blog => { %>
                    <div class="blog-card grid-y">
                    <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.imageUrl.destination %>')"></a>
                    <div class="body grid-y">
                        <div class="date grid align-left mb-1">
                        <span>
                            <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                        </div>
                        <h4 class="mb-1">
                        <%= blog.title %>
                        </h4>
                        <p class="mb-2">
                        <%= blog.summery.slice(1,130) %> ...</p>
                        <div class="link grid align-left">
                        <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                        </div>
                    </div>
                    </div>
                <% }) %>
                </div>
                <div class="carousel grid-x">
                <% blogs.forEach(blog => { %>
                    <div class="blog-card grid-y">
                    <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.imageUrl.destination %>')"></a>
                    <div class="body grid-y">
                        <div class="date grid align-left mb-1">
                        <span>
                            <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                        </div>
                        <h4 class="mb-1">
                        <%= blog.title %>
                        </h4>
                        <p class="mb-2">
                        <%= blog.summery.slice(1,130) %> ...</p>
                        <div class="link grid align-left">
                        <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                        </div>
                    </div>
                    </div>
                <% }) %>
                </div>
            <% } %>
        </div>    
        <div class="grid align-center-middle view-all-news">
            <a href="">مشاهده تمامی اخبار</a>
        </div>
    </div>
</section>
<%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>
<script src="./plugin/particles/particles.min.js"></script>
<script src="./plugin/particles/particlesRun.js"></script>
