<%- include(viewPath('home/layout/header'))  %>
<% if(typeof homePage.homeSliderImageUrl !== 'undefined' ) { %>
<section class="homeSlider grid align-center-middle" style="background-image : url('<%= homePage.homeSliderImageUrl.destination %>')">
<% } else { %>
<section class="homeSlider grid align-center-middle" style="background-image: url('/img/wallpaper/web-designing-wallpaper-compressor.jpg')">
<% } %>    
    <div class="grid align-center-middle">
    <div class="grid-y align-center-middle item-1">
        <%- homePage.homeSlidericonItem1 %>
        <h3><%= homePage.homeSlideritem1 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-2">
        <%- homePage.homeSlidericonItem2 %>
        <h3><%= homePage.homeSlideritem2 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-3">
        <%- homePage.homeSlidericonItem3 %>
        <h3><%= homePage.homeSlideritem3 %></h3><br>
    </div>
  </div>
</section>
<section class="wrapper aboutUs grid align-center">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="wrap grid align-center align-middle grid-y">
            <% if(typeof siteInfo.logo !== 'undefined' ) { %>
            <img class="logo" src="<%= siteInfo.logo.destination %>" alt="<%= siteInfo.nameEn %>">
            <% } %>
            <h3><%= homePage.aboutUsheader %></h3>
            <p class="align-center"><%= homePage.aboutUsheaderDesc %></p>
            <% if(typeof homePage.aboutUsImageUrl !== 'undefined' ) { %>
            <img src="<%= homePage.aboutUsImageUrl.destination %>">
            <% } else { %>
            <img src="" alt="">
            <% } %>    
        </div>
    </div>
</section>
<section class="wrapper ability grid-y align-center-middle">
    <div class="container" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
        <div class="ability-wrap grid-x align-around">
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/LastTechno-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem1 %></h4>
                <p><%= homePage.abilityDescitem1 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Responsivi-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem2 %></h4>
                <p><%= homePage.abilityDescitem2 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/idea-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem3 %></h4>
                <p><%= homePage.abilityDescitem3 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Seo-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem4 %></h4>
                <p><%= homePage.abilityDescitem4 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Design-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem5 %></h4>
                <p><%= homePage.abilityDescitem5 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <div class="icon grid align-justify align-top">
                <img src="/img/Ability/Fast-compressor.png">
            </div>
            <div class="content">
                <h4><%= homePage.abilityitem6 %></h4>
                <p><%= homePage.abilityDescitem6 %></p>
            </div>
        </div>
    </div>
    
</section>
<% if(typeof homePage.parallaxImageUrl !== 'undefined' ) { %>
<section class="parallax para1" style="background-image : url('<%= homePage.parallaxImageUrl.destination %>')">
<% } else { %>
<section class="parallax para1">
<% }%>   
    <div class="overlay grid-y align-center-middle" >
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= homePage.headerParallax %></h4>
        <p data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= homePage.descParallax %></p>
    </div>
</section>
<section class="wrapper products-tab grid align-center-middle ">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section grid align-center-middle">
            <h3>نمونه کار های شرکت ما</h3>
        </div>
        <div class="tab-nav grid align-center-middle ">
            <ul role="tablist" class="tabnav-items grid-x-no">
                <li class="tabnav-item active grid align-center-middle">
                    <span href="#" class="tabnav-link active">وب سایت</span>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <span class="tabnav-link">اپلیکشن</soan>
                </li>
            </ul>
        </div>
        <div class="tab-content container">
            <div class="tab-content-wrap active">
                <div class="product-wrap grid-x align-around">
                    <div class="owl-carousel owl-theme">
                        <% websites.forEach(website => { %>
                            <a href="/websites/<%= website.slug %>" class="card-web">
                                <img src="<%= website.previewImage.destination %>">
                                <div class="body">
                                    <h3 class="EN"><%= website.name %></h3>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                    <div class="carousel grid-x">
                        <% websites.forEach(website => { %>
                            <a href="/websites/<%= website.slug %>" class="card-web">
                                <img src="<%= website.previewImage.destination %>">
                                <div class="body">
                                    <h3 class="EN"><%= website.name %></h3>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="tab-content-wrap">
                <div class="product-wrap grid-x align-around">
                    <div class="owl-carousel owl-theme">
                        <% applications.forEach(app => { %>
                            <a href="/applications/<%= app.slug %>" class="card-web">
                                <img src="<%= app.previewImage.destination %>">
                                <div class="body">
                                    <h3 class="EN"><%= app.name %></h3>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                    <div class="carousel grid-x">
                        <% applications.forEach(app => { %>
                            <a href="/applications/<%= app.slug %>" class="card-web">
                                <img src="<%= app.previewImage.destination %>">
                                <div class="body">
                                    <h3 class="EN"><%= app.name %></h3>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper news align-center-middle grid-y parallax">
    <div id="particles-js">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1414" height="976">
        </canvas>
    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section mb-2">
            <h3>خبرنامه شرکت ما</h3>
        </div>
        <div class="grid align-around mb-2">
            <% if(blogs !== 'undefined') { %>
                <div class="owl-carousel owl-theme">
                <% blogs.forEach(blog => { %>
                    <div class="blog-card grid-y">
                    <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.previewImage.destination %>')"></a>
                    <div class="body grid-y">
                        <div class="date grid align-left mb-1">
                        <span>
                            <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                        </div>
                        <h4 class="mb-1">
                        <%= blog.title %>
                        </h4>
                        <p class="mb-2">
                        <%= blog.summery.slice(1,130) %> ...</p>
                        <div class="link grid align-left">
                        <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                        </div>
                    </div>
                    </div>
                <% }) %>
                </div>
                <div class="carousel grid-x">
                <% blogs.forEach(blog => { %>
                    <div class="blog-card grid-y">
                    <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>" class="head" style="background-image: url('<%= blog.previewImage.destination %>')"></a>
                    <div class="body grid-y">
                        <div class="date grid align-left mb-1">
                        <span>
                            <%= date(blog.createdAt).format('jD jMMMM jYYYY') %></span>
                        </div>
                        <h4 class="mb-1">
                        <%= blog.title %>
                        </h4>
                        <p class="mb-2">
                        <%= blog.summery.slice(1,130) %> ...</p>
                        <div class="link grid align-left">
                        <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>">بیشتر بخوانید</a>
                        </div>
                    </div>
                    </div>
                <% }) %>
                </div>
            <% } %>
        </div>    
        <div class="grid align-center">
            <a class="btn btn-primary grid align-center-middle" href="/blog">
                <span>مشاهده تمامی اخبار</span>
            </a>
        </div>
    </div>
</section>
<%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>

