<link rel="stylesheet" href="/plugin/home/homeSlider/css/homeSlider.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.theme.default.min.css">
<%- include(viewPath('home/layout/header'))  %>
<section class="homeSlider grid align-center-middle" style="background-image : url('<%= homeSlider.homeSliderImageUrl.destination %>')">
    <div class="grid align-center-middle">
    <div class="grid-y align-center-middle item-1">
        <i class="<%= homeSlider.homeSlidericonItem1 %>"></i>
        <h3><%= homeSlider.homeSlideritem1 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-2">
        <i class="<%= homeSlider.homeSlidericonItem2 %>"></i>
        <h3><%= homeSlider.homeSlideritem2 %></h3><br>
    </div>
    <div class="grid-y align-center-middle item-3">
        <i class="<%= homeSlider.homeSlidericonItem3 %>"></i>
        <h3><%= homeSlider.homeSlideritem3 %></h3><br>
    </div>
  </div>
</section>
<section class="wrapper aboutUs grid align-center">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="wrap grid align-center align-middle grid-y">
            <img class="logo" src="/img/artakhe-logo.png">
            <h3><%= aboutUs.aboutUsheader %></h3>
            <p class="align-center"><%= aboutUs.aboutUsheaderDesc %></p>
            <img src="<%= aboutUs.aboutUsImageUrl.destination %>">
        </div>
    </div>
</section>
<section class="wrapper ability grid-y align-center-middle">
    <div class="container" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
        <div class="ability-wrap grid-x align-around">
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem1 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem1 %></h4>
                <p><%= ability.abilityDescitem1 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem2 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem2 %></h4>
                <p><%= ability.abilityDescitem2 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem3 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem3 %></h4>
                <p><%= ability.abilityDescitem3 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem4 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem4 %></h4>
                <p><%= ability.abilityDescitem4 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem5 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem5 %></h4>
                <p><%= ability.abilityDescitem5 %></p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="<%= ability.abilityIconitem6 %>"></i>
            <div class="content">
                <h4><%= ability.abilityitem6 %></h4>
                <p><%= ability.abilityDescitem6 %></p>
            </div>
        </div>
    </div>
    
</section>
<section class="parallax para1 style="background-image:url('<%=parallax.parallaxImageUrl.destination %>')">
    <div class="overlay grid-y align-center-middle" >
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= parallax.headerParallax %></h4>
        <p data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"><%= parallax.descParallax %></p>
    </div>
</section>
<section class="wrapper products-tab grid align-center-middle ">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section grid align-center-middle">
            <h3>نمونه کار های شرکت ما</h3>
        </div>
        <div class="tab-nav grid align-center-middle ">
            <ul role="tablist" class="tabnav-items grid-x-no">
                <li class="tabnav-item active grid align-center-middle">
                    <span href="#" class="tabnav-link active">وب سایت</span>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <span class="tabnav-link">اپلیکشن</soan>
                </li>
            </ul>
        </div>
        <div class="tab-content container">
            <div class="tab-content-wrap active">
                <div class="product-wrap grid-x align-around">
                    <!-- <div class="owl-carousel owl-theme"> -->
                    <div class="grid-x">
                        <% websites.forEach(website => { %>
                        <div class="item card">
                            <img src="<%= website.previewImage.destination %>">
                            <div class="info grid-y">
                                <h3>
                                    <%= website.name %>
                                </h3>
                                <div class="grid-x-no">
                                    <a href="<%= website.link %>" target="_blank">لینک وبسایت</a>
                                    <a href="<%= website.slug %>" target="_blank">جزییات</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <h4 class="tab-content-wrap">اپلیکشن ها</h4>
        </div>
    </div>
</section>
<section class="wrapper news align-center-middle grid-y parallax">
    <div id="particles-js">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1414" height="976">
        </canvas>
    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section mb-2">
            <h3>خبرنامه شرکت ما</h3>
        </div>
        <!-- <div class="owl-carousel owl-theme"> -->
        <div class="grid-x">    
            <% if(blogs !== 'undefined') { %>
                <% blogs.forEach(blog => { %>
                    <a href="/blog/<%= blog.category.slug %>/<%= blog.slug %>" class="item blog-card spring-fever" style="background: url('<%= blog.imageUrl.destination %>') no-repeat;">
                        <div class="title-content">
                            <h3>
                                <%= blog.title %>
                            </h3>
                            <hr>
                        </div>
                        <div class="card-info">
                            <%= blog.summery.slice(1,130) %> ...
                        </div>
                        <div class="utility-info">
                            <ul class="utility-list grid-x align-justify">
                                <li class="grid-x-no align-center">
                                    <i class="fas fa-calendar"></i>
                                    <span><%= date(blog.createdAt).format('jD jMMM jYYYY') %></span>
                                </li>
                                <li class="grid-x-no align-center">
                                    <i class="fas fa-comment-dots"></i>
                                    <span><%= blog.commentCount %></span>
                                </li>
                            </ul>
                        </div>
                        <div class="gradient-overlay"></div>
                        <div class="color-overlay"></div>
                    </a>
                <% }) %>
            <% } %>
        </div>
        <div class="grid align-center-middle view-all-news">
            <a href="">مشاهده تمامی اخبار</a>
        </div>
    </div>
</section>
<%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.min.js"></script>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>
<script src="./plugin/particles/particles.min.js"></script>
<script src="./plugin/particles/particlesRun.js"></script>
