<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Description" content="<% if(typeof tags !== 'undefined') { %>  <% tags.forEach((tag , index) => { %><%= tag %><%= tags.length-1 !== index ? ',' : ''  %><% }) %><% } %>">
  <meta name="keywords" content="<% if(typeof tags !== 'undefined') { %><% tags.forEach((tag , index) => { %><%= tag %><%= tags.length-1 !== index ? ',' : ''  %><% }) %><% } %>">
  <title><%- title || Diata  %></title>
  <meta name="og:title" property="og:title" content="diata" />
  <meta name="og:description" property="og:description" content="<% if(typeof tags !== 'undefined') { %><% tags.forEach((tag , index) => { %><%= tag %><%= tags.length-1 !== index ? ',' : ''  %><% }) %><% } %>" />
  <meta name="og:url" property="og:url" content="http://diata.com" />
  <meta name="og:site_name" property="og:site_name" content="" />
  <meta name="og:brand" property="og:brand" content="دیاتا" />
  <meta name="og:locale" property="og:locale" content="fa" />
  <%- include(viewPath('layout/favicon')) %>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/plugin/preloader/preloader.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/plugin/izitoast/iziToast.css">
  <link rel="stylesheet" href="/plugin/home/owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/plugin/home/owlcarousel/owl.theme.default.min.css">
  <%- style %>  
</head>
<body>
  <main>
    <div id="preloader">
      <div class="wrap grid align-center-middle">
        <div id="preloader-inner"></div>
      </div>
    </div>
    <%- body %>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/plugin/preloader/jquery.preloader.min.js"></script>
  <script src="/plugin/preloader/preloader.js"></script>
  <script src="/plugin/izitoast/iziToast.min.js"></script>
  <script src="/js/ajaxFetch.js"></script>
  <script src="/js/ajaxController.js"></script>
  <script src="/plugin/home/owlcarousel/owl.carousel.min.js"></script>
  <%- script %>
  <script src="/js/main.js"></script>
</body>
</html>