<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Description" content="<%= descTags %>">
  <meta name="keywords" content="<%= keyTags %>">
  <title><%- title || Diata  %></title>
  <meta name="og:title" property="og:title" content="diata" />
  <meta name="og:description" property="og:description" content="<%= descTags %>" />
  <meta name="og:url" property="og:url" content="http://diata.com" />
  <meta name="og:site_name" property="og:site_name" content="" />
  <meta name="og:brand" property="og:brand" content="دیاتا" />
  <meta name="og:locale" property="og:locale" content="fa" />
  <%- include(viewPath('layout/favicon')) %>
  <link rel="stylesheet" href="/dist/<%= manifest.bundle[0] %>">
  <%- style %>  
</head>
<body>
  <main>
    <div id="preloader">
      <div class="wrap grid align-center-middle">
        <div id="preloader-inner"></div>
      </div>
    </div>
    <%- body %>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/dist/<%= manifest.bundle[1] %>"></script>
  <script src="/js/aos.js"></script>
  <script>AOS.init();</script>
  <%- script %>
</body>
</html>