<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title || Diata  %></title>
  <%- include(viewPath('layout/favicon')) %>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/plugin/preloader/preloader.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Orbitron" rel="stylesheet">
  <link rel="stylesheet" href="/plugin/izitoast/iziToast.css">
  <%- style %>  
</head>
<body>
  <main>
    <div id="preloader">
      <div class="wrap grid align-center-middle">
        <div id="preloader-inner"></div>
      </div>
    </div>
    <%- body %>
  </main>
  <script src="/js/Jquery-3.3.1.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/plugin/preloader/jquery.preloader.min.js"></script>
  <script src="/plugin/preloader/preloader.js"></script>
  <script src="/plugin/izitoast/iziToast.min.js"></script>
  <%- include(viewPath('errors/izitoast')) %>
  <%- script %>
  <script src="/js/main.js"></script>
</body>
</html>