<%- include(viewPath('home/layout/header')) %>
<section class="seo-page w100 grid-y">
  <% if(typeof seoPage.headerImageUrl !== 'undefined') { %>
  <div class="header-slider w100" style="background-image: url('<%= seoPage.headerImageUrl.destination %>')">
  <% } else { %>  
  <div class="header-slider w100">  
  <% } %>  
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2><%= seoPage.headerTitle %></h2>
      </div>
    </div>
  </div>
  <div class="about-seo w100 grid align-center-middle wrapper">
    <div class="container">
      <div class="grid-x align-around">
        <div class="item grid-x-no">
        <div class="icon grid align-justify align-top">
          <img src="" alt="">
        </div>
        <div class="content">
          <h4><%= seoPage.item1 %></h4>
          <p><%= seoPage.Descitem1 %></p>
        </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4><%= seoPage.item2 %></h4>
            <p><%= seoPage.Descitem2 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4><%= seoPage.item3 %></h4>
            <p><%= seoPage.Descitem3 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4><%= seoPage.item4 %></h4>
            <p><%= seoPage.Descitem4 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4><%= seoPage.item5 %></h4>
            <p><%= seoPage.Descitem5 %></p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div class="icon grid align-justify align-top">
            <img src="" alt="">
          </div>
          <div class="content">
              <h4><%= seoPage.item6 %></h4>
              <p><%= seoPage.Descitem6 %></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <% if(typeof seoPage.parallaxImageUrl !== 'undefined') { %>
  <div class="parallax para1" style="background-image: url('<%= seoPage.parallaxImageUrl.destination %>')">
  <% } else { %>
  <div class="parallax para1">
  <% } %>
  </div>
  <div class="seo-desc wrapper grid align-center">
    <div class="container">
      <div class="wrap w100 grid-x">
        <div class="decription pl-5 grid-y">
          <%- seoPage.desc %>
        </div>
        <div class="image">
          <% if(typeof seoPage.desc1ImageUrl !== 'undefined') { %>
          <img src="<%= seoPage.desc1ImageUrl.destination %>" alt="SEO">
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include(viewPath('home/layout/footer')) %>